/* elements */
body, select, input, textarea {
	font-family: Helvetica, Arial, sans-serif;
	color: #989898;
	font-size: 12px;
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */

h1, h2, h3, h4, h5, h6 { 
	font-family: Abadi MT Condensed Light, Helvetica, Arial, sans-serif;
	font-weight: none;
	font-size: 18px;
	color: #050505;
	margin-top: 0; }
	
#sidebar h3 { text-align: center; }
.module h3 { margin-top: 0px; text-align: center; }

a, a:active, a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }

.moduletable_hmenu a, 
.moduletable_hmenu a:active, 
.moduletable_hmenu a:visited {
	color: #6d6e71;
}

.moduletable_hmenu a:hover {
	color: #050505;
	text-decoration: none;
}

#copyright a { color: #ffffff; }

#sidebar img,
#content img,
.module img {
	border: 1px solid #cacaca;
	padding: 2px;
	margin: 0px 8px 12px;
}

#content img:first-child { margin-left: 0px; }

.module p { margin: 0px 0px 12px; }

.moduletable a > span,
.moduletable a > span:active,
.moduletable a > span:visited,
.module a > span,
.module a > span:active,
.module a > span:visited {
	color: #000000;
}

.moduletable a > span:hover,
.module a > span:hover { text-decoration: underline; }