/* elements */
body, select, input, textarea {
	font-family: Helvetica, Arial, sans-serif;
	color: #989898;
	font-size: 12px;
}

@font-face {
 	font-family: 'Abadi MT Condensed Light';
	src: url("../resources/Abadi-MT-Condensed-Light-Regular.eot"); /* EOT file for IE */
 	src: local('ò∫'), url("/templates/RunStrong/resources/Abadi-MT-Condensed-Light-Regular.ttf") format('truetype'); /* TTF file for CSS3 browsers */
	font-weight: normal;
	font-style: normal;
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */

h1, h2, h3, h4, h5, h6 { 
	font-family: 'Abadi MT Condensed Light', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 18px;
	color: #050505;
	margin-top: 0;
	text-transform: uppercase;
}

h3 { 
	margin-top: 0px; 
	text-align: center;
}

h4 {
	margin-bottom: 10px;
}

#content h3,
.feed h4 a{
	font-size: 12px;
	font-family: Helvetica, Arial, sans-serif;
	text-align: left;
	color: #989898;
	text-transform: none;
	font-weight: bold;
}

a, a:active, a:visited { color: #000000; text-decoration: none; }
a:hover { text-decoration: underline; }

.moduletable_hmenu a, 
.moduletable_hmenu a:active, 
.moduletable_hmenu a:visited {
	color: #6d6e71;
}

.moduletable_hmenu a:hover {
	color: #050505;
	text-decoration: none;
}

#copyright a { color: #ffffff; }

.module p { margin: 0px 0px 12px; }

#content a:hover,
.moduletable a > span:hover,
.module a > span:hover { text-decoration: underline; }