ul.sigProArtistic li.sigProThumb a.sigProLink img.sigProImg, ul.sigProArtistic li.sigProThumb a.sigProLink:hover img.sigProImg {
	margin-top: 3px;
}

ul.sigProClassic li.sigProThumb span.sigProLinkWrapper {
	padding: 2px;
	margin: 0px;
}

ul.sigProClassic li.sigProThumb span.sigProLinkOuterWrapper {
	background: none;
}

ul.sigProClassic li.sigProThumb {
	margin: 5px 0 5px 10px;
}

ul.sigProClassic {
	padding: 0px 0px 8px 0px !important;
}

.ie7 li.sigProClear { /*GETS RID OF WHITE SPACE in IE7*/
	display: none;
}

#content ul.sigProClassic {
	position: relative;
	left: -8px;
}